<a href="https://colab.research.google.com/github/SYJ0321/Python/blob/main/5.1%20%ED%8C%8C%EC%9D%B4%EC%8D%AC%20EDA%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 라이브러리 로드

In [ ]:
# 데이터 분석을 위한 pandas 라이브러리를 불러옵니다.
# 데이터 시각화를 위한 seaborn 을 불러옵니다.
import pandas as pd
import seaborn as sns

In [ ]:
print(pd.__version__)
print(sns.__version__)

1.3.5
0.11.2

In [ ]:
# 0.11.0 버전에서 변화가 많으니 이 버전 이상을 사용해 주세요. 
# !pip install seaborn --upgrade

## 데이터셋 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

* seaborn 데이터셋 위치 : https://github.com/mwaskom/seaborn-data

In [ ]:
# df
# sns.load_dataset("mpg")
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv")
df.shape

(398, 9)

In [ ]:
# index 값만 보기
df.index

RangeIndex(start=0, stop=398, step=1)

In [ ]:
# columns 값만 보기
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [ ]:
# values 값만 보기
df.values

array([[18.0, 8, 307.0, ..., 70, 'usa', 'chevrolet chevelle malibu'],
       [15.0, 8, 350.0, ..., 70, 'usa', 'buick skylark 320'],
       [18.0, 8, 318.0, ..., 70, 'usa', 'plymouth satellite'],
       ...,
       [32.0, 4, 135.0, ..., 82, 'usa', 'dodge rampage'],
       [28.0, 4, 120.0, ..., 82, 'usa', 'ford ranger'],
       [31.0, 4, 119.0, ..., 82, 'usa', 'chevy s-10']], dtype=object)

In [ ]:
# 데이터 타입만 보기
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

## 데이터셋 일부만 가져오기

In [ ]:
# head 을 통해 일부만 가져오기
df.head(2)

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320

[2 rows x 9 columns]

In [ ]:
# tail 을 통해 일부만 가져오기
df.tail(2)

      mpg  cylinders  displacement  ...  model_year  origin         name
396  28.0          4         120.0  ...          82     usa  ford ranger
397  31.0          4         119.0  ...          82     usa   chevy s-10

[2 rows x 9 columns]

In [ ]:
# sample을 통해 일부만 랜덤하게 가져오기
df.sample(3)

      mpg  cylinders  ...  origin                       name
274  20.3          5  ...  europe                  audi 5000
270  21.1          4  ...   japan  toyota celica gt liftback
173  24.0          4  ...   japan                 datsun 710

[3 rows x 9 columns]

In [ ]:
# 같은 값이 나오도록 고정
df.sample(3, random_state=42)

      mpg  cylinders  displacement  ...  model_year  origin         name
198  33.0          4          91.0  ...          76   japan  honda civic
396  28.0          4         120.0  ...          82     usa  ford ranger
33   19.0          6         232.0  ...          71     usa  amc gremlin

[3 rows x 9 columns]

## 요약하기

In [ ]:
# info 를 통해 요약정보 보기
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

## 결측치 확인

In [ ]:
# 결측치 수 확인
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [ ]:
# 결측치 비율 확인
df.isnull().mean() * 100

mpg             0.000000
cylinders       0.000000
displacement    0.000000
horsepower      1.507538
weight          0.000000
acceleration    0.000000
model_year      0.000000
origin          0.000000
name            0.000000
dtype: float64

## 기술통계

In [ ]:
# describe 로 기술통계 확인하기
df.describe()

              mpg   cylinders  ...  acceleration  model_year
count  398.000000  398.000000  ...    398.000000  398.000000
mean    23.514573    5.454774  ...     15.568090   76.010050
std      7.815984    1.701004  ...      2.757689    3.697627
min      9.000000    3.000000  ...      8.000000   70.000000
25%     17.500000    4.000000  ...     13.825000   73.000000
50%     23.000000    4.000000  ...     15.500000   76.000000
75%     29.000000    8.000000  ...     17.175000   79.000000
max     46.600000    8.000000  ...     24.800000   82.000000

[8 rows x 7 columns]

In [ ]:
df.describe(include="object")

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

## Series

In [ ]:
df["mpg"]

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [ ]:
type(df["mpg"])

pandas.core.series.Series

## DataFrame

In [ ]:
type(df)

pandas.core.frame.DataFrame

## 색인하기

* 열(column) 인덱싱
* [컬럼]
* [[컬럼1, 컬럼2, 컬럼3]]

In [ ]:
df["name"]

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [ ]:
df[["name","origin"]]

                          name  origin
0    chevrolet chevelle malibu     usa
1            buick skylark 320     usa
2           plymouth satellite     usa
3                amc rebel sst     usa
4                  ford torino     usa
..                         ...     ...
393            ford mustang gl     usa
394                  vw pickup  europe
395              dodge rampage     usa
396                ford ranger     usa
397                 chevy s-10     usa

[398 rows x 2 columns]

## loc
* 행(index) 인덱싱
* .loc[행]
* .loc[행, 열]
* .loc[조건식, 열]

In [ ]:
# loc 로 하나의 행을 가져옵니다.
df.loc[0]

mpg                                  18.0
cylinders                               8
displacement                        307.0
horsepower                          130.0
weight                               3504
acceleration                         12.0
model_year                             70
origin                                usa
name            chevrolet chevelle malibu
Name: 0, dtype: object

In [ ]:
# loc로 2개의 행을 가져와 봅니다.
df.loc[[0,1]]

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320

[2 rows x 9 columns]

In [ ]:
# loc로 행, 열을 가져와 봅니다.
df.loc[0,"name"]

'chevrolet chevelle malibu'

In [ ]:
# loc로 여러개의 행, 열을 가져와 봅니다.
df.loc[[0, 1],["name", "origin"]]

                        name origin
0  chevrolet chevelle malibu    usa
1          buick skylark 320    usa